.box-one {
    box-sizing: content-box;
    /* the size of the content box is 700*300 */
    width: 700px;
    height: 300px;

    background-color: red;
    padding: 10px;
    /* need to include border-width, border-style and border-color */
    border: 20px solid purple;
    margin: 100px;

    text-align: center;
    font-size: x-large;
}

.box-two {
    box-sizing: border-box;
    /* the size of the border box (border + padding + content) is 700*300 */
    width: 700px;
    height: 300px;

    background-color: blue;
    padding: 10px;
    border: 30px solid purple;
    margin: 100px;

    text-align: center;
    font-size: x-large;
}

.container {
    border: 5px solid blue;

    width: 300px;
    height: 300px;
}

.box {
    border: 5px solid purple;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    /* 4 em is four times the current font size of the element */
    margin-left: 4em; 
}