/* selector, property and value */
/* type selector */
div {
    color: white;
}



/* class selector will select all elements with the given class */
/* for class selectors, use . */
.alert-text {
    color: red;
}

/* ID selectors select an element with the given ID */
/* for ID selectors, use # */
#title {
    background-color: red;
}


/* grouping selector */
/* if we have two groups of elements that share some of style */

.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
  font-style: italic;
  text-decoration: underline;
  opacity: 0.8;
}

.unread {
  /* several unique declarations */
  font-weight: bold;
  border: 2px solid white;
  letter-spacing: 1px;
}