/* selector, property and value */
/* type selector */
div {
    color: white;
}

/* adjust img size using auto */

img {
    height: auto;
    /* keep the original proportion of image */
    width: 500px; 
    /* no space between 500 and px */
}


/* class selector will select all elements with the given class */
/* for class selectors, use . */
.alert-text {
    color: red;
}

/* ID selectors select an element with the given ID */
/* for ID selectors, use # */
#title {
    background-color: red;
}


/* grouping selector */
/* if we have two groups of elements that share some of style */

.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
  font-style: italic;
  text-decoration: underline;
  opacity: 0.8;
}

.unread {
  /* several unique declarations */
  font-weight: bold;
  border: 2px solid white;
  letter-spacing: 1px;
}

/* chaining selector */
/* when an element belongs to both class 1 and class 2 */
.subsection.header {
    color: red;
  }
/* when an element belongs to a class and an ID */
.subsection#preview {
    color: blue;
}  


/* descendant combinator */
/* styles.css */

.ancestor .contents {
    /* some declarations */
    color: purple;
}
  